html
    head
        title= title
    body
        form(action='/add', method='post')
            p
            | Назва: 
            input(type='text', name='title', value='')
            br
            |          Автор: 
            input(type='text', name='author', value='')
            br
            |           Текст: 
            textarea(type='text', name='text', value='' rows=20 cols='20')
            br
            input(type='submit', value='Submit')